@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root{
	--dark-color: #1F1F1F;
	--active-color: #E23221;
	--primary-font: 'Pridi', serif;
	--font-color:  rgba(255,255,255,0.8);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
    outline: none;
}

html, body {height:100%;}


.yellow { color: #FED851 }
.red { color: #BF0059 }
.blue { color: #13AFE0 }

body{
	background: var(--dark-color);
	font-family: var(--primary-font);
	text-decoration: none;
	color: var(--font-color);
	margin: 0 20px;	
	overflow:hidden;
}

.content{
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	padding-bottom: 3rem;
	
}

a{
	text-decoration: none;
	color:var(--font-color);
}

a:visited{
	color:var(--font-color);
}

nav {
	max-width: 1200px;
	border-bottom: solid 1px rgba(255,255,255,0.3);;
	margin: 0 auto;
}

nav ul{
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}

nav li {
	list-style: none;
	padding: 5px 25px;
}

nav li .active {
	color: var(--active-color);
	text-shadow: 0px 0px 5px var(--active-color), 
				 0px 0px 15px var(--active-color);
	box-shadow:  inset 0px 4px 4px rgba(0, 0, 0, 0.25), 
				 inset -4px -4px 10px rgba(82, 80, 80, 0.25);
	border-radius: 40px;
	padding: 5px 25px;
}

nav li a:hover{
	color: var(--active-color);
}

.btn-sm{
	border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	float: right;
  	margin: 5px;
}

.btn-primary{
	background: #00F260;  
	background: -webkit-linear-gradient(to top, #2A6BE9, #13AFE0);  
	background: linear-gradient(to top, #2A6BE9, #13AFE0); 

}

.avatar{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	box-shadow: -2px -2px 5px rgba(116, 115, 115, 0.25), 
				2px 2px 5px rgba(0, 0, 0, 0.25);
}

.user{
	width: 80%;
	max-width: 900px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: solid 1px rgba(255,255,255,0.3);
	margin: 0 1rem;
}

.user:hover .user-action{
	opacity: 1;
}

.user-info{
	flex-grow:1;
	margin: 15px;
}

.user-info p{
	font-weight: 100;
}

.user-action {
	opacity: 0;
}

.user-action span{
	width:30px;
	height: 30px;
	line-height:30px;
	text-align:center;
	font-size: 1rem;
	border-radius: 50%;
	box-shadow: -1px -1px 2px rgba(102, 102, 102, 0.25), 
				1px 1px 2px rgba(0, 0, 0, 0.25);
}

form {
	display: flex;
	flex-direction: column;
}

form span{
	color: var(--active-color);
}

input[type="text"], input[type="password"]{
	height: 2rem;
	padding: 1rem;
	font: var(--primaty-font);
	color: var(--font-color);
	background-color: transparent;
	border: none;
	box-shadow: inset -4px -4px 10px rgba(85, 85, 85, 0.25), 
				inset 4px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	margin-top: 1.5rem;
}

input[type="text"]:focus, input[type="password"]:focus{
	box-shadow: 0px 0px 10px #00A439, 
				inset -4px -4px 10px rgba(85, 85, 85, 0.25), 
				inset 4px 4px 10px rgba(0, 0, 0, 0.25);	
}

input[type="text"].invalid, input[type="password"].invalid{
	box-shadow: 0px 0px 10px var(--active-color), 
				inset -4px -4px 10px rgba(85, 85, 85, 0.25), 
				inset 4px 4px 10px rgba(0, 0, 0, 0.25);	
}


.actions{
	display: flex;
	justify-content: space-between;	
	margin-top: 2rem;
}

button.btn{
	font: var(--font-primary) 1rem;
	background: transparent;
	border: none;
	cursor: pointer;
}

.btn {
	padding: 0.5rem 1rem;
	border-radius: 8px;
	box-shadow: -4px -4px 10px rgba(85, 85, 85, 0.25), 
				4px 4px 10px rgba(0, 0, 0, 0.25);
}

.alert{
	border-radius: .5rem;
	padding: 1rem;
	box-shadow: -3px -3px 10px rgba(85, 85, 85, 0.25), 
				3px 3px 10px rgba(0, 0, 0, 0.25);
	color: #00A439;
}

footer {
	line-height: 2rem;
	position: absolute;
	bottom: 0;
}


