<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:include="_template :: head"></head>

<body>

<div class="content">
	<h1>Novo Usuário</h1>
	
	<form action="/user" method="POST" th:object="${user}">
		<input 
			name="name" 
			placeholder="Nome" 
			type="text"
			th:classappend="${#fields.hasErrors('name')} ? invalid"
		/>
		<span th:errors="*{name}"></span>

		<input 
			name="email" 
			placeholder="E-mail" 
			type="text" 
			th:classappend="${#fields.hasErrors('email')} ? invalid"
		/>
		<span th:errors="*{email}"></span>

		<input 
			name="pass" 
			placeholder="Senha" 
			type="password" 
			th:classappend="${#fields.hasErrors('pass')} ? invalid"
		/>
		<span th:errors="*{pass}"></span>

		<div class="actions">
			<a href="/user" class="btn">cancelar</a>
			<button class="btn blue">gravar</button>
		</div>
	</form>
</div>


</body>
</html>