<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:include="_template :: head"></head>

<body>
	<h1>Epic Task</h1>
	
	<nav th:include="_template :: menu('team')"></nav>
	
	<a href="/user/new" class="btn-sm btn-primary">
		<span class="material-icons">add</span>
	</a>
	
<div class="content">

	<span class="alert" th:if="${message != null}" th:text="${message}"></span>

	<div class="user" th:each="user : ${users}">
		<img class="avatar" alt="" th:src="${user.avatar}">
		<div class="user-info">
			<h4 th:text="${user.name}"></h4>
			<p th:text="${user.email}"></p>
			<p class="score">
				<span class="material-icons yellow">star</span>
				<span th:text="${user.point}"></span>
			</p>
		</div>
		<div class="user-action">
			<a th:href="${'/user/' + user.id }">
				<span class="material-icons yellow">create</span>
			</a>
			<a th:href="${'/user/delete/' + user.id }">
				<span class="material-icons red">delete</span>
			</a>
		</div>
	</div>
	
	<div>
		<span><a th:if="${!users.first}" th:href="@{/user(page=${users.number-1}, size=${users.size}, sort=${sort}) } ">anterior</a></span>
		<span th:text="${(users.number+1) + ' de ' + users.totalPages}"></span>
		<span><a th:if="${!users.last}" th:href="@{/user(page=${users.number+1}, size=${users.size}, sort=${sort})}">próximo</a></span>
	</div>

	<div>
		<details>
		<summary>ordenação</summary>
			<div><a th:href="@{/user(page=${users.number}, size=${users.size}, sort='point')}">ordenar por pontos</a></div>
			<div><a th:href="@{/user(page=${users.number}, size=${users.size}, sort='name')}">ordenar por nome</a></div>
		</details>
		
		<details>
		<summary>paginação</summary>
			<div><a th:href="@{/user(page=${users.number}, size=5, sort=${sort})}">5 usuários por página</a></div>
			<div><a th:href="@{/user(page=${users.number}, size=10, sort=${sort})}">10 usuários por página</a></div>
			<div><a th:href="@{/user(page=${users.number}, size=20, sort=${sort})}">20 usuários por página</a></div>
		</details>
	</div>






		
</div>

	
</body>
</html>