<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>Novo usuário</h1>

	<form action="/user" method="POST">
		<div>
			<label for="name">Nome completo</label> 
			<input id="name" name="name" value="Joao Carlos Lima" />
		</div>
		<div>
			<label for="email">E-mail</label> 
			<input id="email" name="email" value="joaocarlos@fiap.com.br" />
		</div>
		<div>
			<label for="pass">Senha</label> 
			<input id="pass" name="pass" type="password" value="8dygdnk_&*" />
		</div>
		<a href="/user">Cancelar</a>
		<button>Salvar</button>
	</form>

</body>
</html>