<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1>Novo Usuário</h1>

<form action="/user" method="POST">
	<input name="name" placeholder="Nome" value="Joao Carlos"/>
	<input name="email" placeholder="E-mail" value="joao@gmail.com"/>
	<input name="pass" placeholder="Senha" type="password" value="iushert845h(&TTSF)_"/>
	<div>
		<a href="/user">cancelar</a>
		<button>gravar</button>
	</div>
</form>

</body>
</html>